@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');

nav {
    border: 2px solid #E6B325;
    background-color: #F4F1EA;
}

.fw-bold {
    color: #E6B325;
}

.fw-bold:hover {
    color: #FFCE45;
}

.header-title {
    color: #E6B325;
    font-family: 'Rampart One', cursive;
    margin-left: 25px;
}

.header-title:hover {
    color: #FFCE45;
}

.nav-item {
    margin-right: 20px;
}